.gitignore
.DS_Store
*.swp
*.log
*.old
*.txt
www/assets*
!www/assets/.gitignore
runtime/*
!runtime/.gitignore
config/*-local.php
controllers/SmsController.php
models/Sms.php
models/MaintenanceChallenge.php
models/MaintenancePlayer.php
views/site/sms.php
tests/ocular.phar
tests/coverage.clover
lib/vendor/*
