/* common */
.ui-disabled a {
    border-color: #6b5854 !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: url('wood.png') repeat 0% 0%;
}
.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset { margin-top: .5em; }

h1, h2, h3 {
    margin-bottom: .1em;
}

h3>span {
    font-size: .8em;
}
table {
    width: 100%;
}
td:last-child {text-align: right; }
p { margin: 0; }

.c {text-align: center !important;}
.r {text-align: right;}
#content { position:relative; }
.info-window { color: #333; }


#left-panel {
    background: #FDF1D3;
}

#game-header {
    background: #333 url(header.png) repeat;
}
#game-header #attributes {
    margin: 0 15px 0 40px;
}
.game-content { padding-top: 5px; }
@media (min-width:60em) {
	/* Header */
    #game-header #attributes {
        margin: 0 15% 0 20%;
    }
	#game-header #nav {
		left: 15%;
	}
	/* Content */
	.game-content {
		padding-right: 15%;
		padding-left: 15%;
	}
}

.attributes {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8em;
}
.attributes .ui-block-a { width: 100%; } 
.attributes .ui-block-b { width: 36%; } 
.attributes .ui-block-c { width: 34%; }
.attributes .ui-block-d { width: 30%; }

.attributes a, .attributes a:visited { color:#aa9999 !important; }
.attributes a:hover, .attributes a:active { color:#d5baa4 !important; }

.attributes h1 {
    margin: 0;
    line-height: 36px;
    font-size: 16px;
}

@media all and (min-width: 30em) {
    .attributes .ui-block-a { width: 30%; }
    .attributes .ui-block-b { width: 25%; }
    .attributes .ui-block-c { width: 25%; }
    .attributes .ui-block-d { width: 20%; }
    .pb_wrap { margin-right: 10px !important; }
}

.attributes .block {
    height: 37px;
    position: relative;
}
.block p {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    margin-left:30px;
}
.block span.hint, .block span.hint-indent {
    position: absolute;
    bottom: 0;
    left: 0px;
    display:block; 
    font-size: .85em;
    color: #a99;
}
.block span.hint-indent {
    left: 35px;
}

/* progress bar */
.pb_wrap {
    position: relative;
    margin-top: 4px;
    margin-right: 0px;
}
.pb_txt {
    position: relative;
    top: 2px;
    left: .5em;
    color: #fff;
}
.progressbar {
      background-color: black;
      border-radius: 4px; /* (height of inner div) / 2 + padding */
      padding: 1px;
      margin-top: -1em;
}
    
.progressbar div {
       background-color: orange;
       width: 30%; /* Adjust with JavaScript */
       height: 1em;
       border-radius: 2px;
}

.prog-bar .ui-slider-track { 
    margin: 0 0 1em 0;
    height: 1.2em;
    cursor:default;
}
.prog-bar p.desc { 
    position: absolute;
    top:1px;
    left:.5em;
    font-weight:normal;
    font-size: .9em;
}

#game-name { text-align: right; margin-top: 1em; box-shadow: none !important; }
#game-name li { display: inline; }

.responsive-a .ui-block-a { padding-right: .4em; }
.responsive-a .ui-block-b { padding-left: .4em; }

/* stack all grids below 40em (640px) */
@media all and (max-width: 40em) {
	.responsive-a .ui-block-a,
	.responsive-a .ui-block-b {
		width: 100%;
		float: none;
	}
    .responsive-a .ui-block-a { padding-right: 0; }
    .responsive-a .ui-block-b { padding-left: 0; }
}

.routine {
    background-color: #FAF5E6;
    background-color: rgba(250, 245, 230, 0.7);
}

/* sprites */
.spr { background: url(sprite.png) no-repeat top left; }
.block-dollar{ background-position: 0 -146px;  } 
.block-energy{ background-position: 0 -234px;  } 
.block-gold{ background-position: 0 -322px;  } 
.help{ background-position: 0 -410px;  }
a#map{ background-position: 0 -487px;  } 
a#map:hover { background-position: 0 -622px; }
.mission{ background-position: 0 -807px;  } 
.reel{ background-position: 0 -889px; width:208px; height:113px; position:absolute; right:0; } 
.star-b{ background-position: 0 -1052px; display:inline-block; width:24px; height:24px; } 
.star-d{ background-position: 0 -1126px; display:inline-block; width:24px; height:24px; } 
.star-e{ background-position: 0 -1200px; display:inline-block; width:24px; height:24px; } 
.star-g{ background-position: 0 -1274px; display:inline-block; width:24px; height:24px; } 
.star-s{ background-position: 0 -1348px; display:inline-block; width:24px; height:24px; } 
.tutorial{ background-position: 0 -1422px;  } 
 
ul li.ui-li-divider {
    background: -moz-linear-gradient(top, rgba(236,177,0,0.7) 0%, rgba(171,128,0,0.7) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,177,0,0.7)), color-stop(100%,rgba(171,128,0,0.7))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(236,177,0,0.7) 0%,rgba(171,128,0,0.7) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(236,177,0,0.7) 0%,rgba(171,128,0,0.7) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(236,177,0,0.7) 0%,rgba(171,128,0,0.7) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(236,177,0,0.7) 0%,rgba(171,128,0,0.7) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ecb100', endColorstr='#b3ab8000',GradientType=0 ) !important; /* IE6-9 */
}

/* alerts */
.alert {
    display: block;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-success {
  color: #6BB247;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

/* nav */
.nav {
    /*clear:both;*/
    xmargin-bottom: 1em;
    xbackground-color:red;
    zoom: 1; /* ie6&7 */

}
.nav:before,
.nav:after {
    content: "";
    display: table;
}
.nav:after { clear: both; }

.nav .right { float: right; }
.nav h1 { 
    margin:0;
    font-size: 1.5em;
    line-height: 1.5em;
}
.nav h1 a,
.nav h1 a:hover,
.nav h1 a:visited,
.nav h1 a:active {
   color: #fff !important; 
}
.nav h3 { 
    font-size: 1em;
    line-height: 1em;
    margin-top: .7em;
    xbackground-color: green;
}

